header
  h1 Does this gif contain an animation
  blockquote.
    Does 'tis gif contain an animation or Does 'tis gif not contain an animation. That be th' inquiry. Arrrr. <br>
    <em>scurvy pirate shakespeare</em>
